# Google / Gemini
GOOGLE_API_KEY=your_google_api_key_here
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_BASE_URL=

# Optional proxy settings
# Leave blank if not using a proxy.
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1,169.254.46.57

# OT-2 robot
ROBOT_IP=169.254.46.57
ROBOT_SSH_USER=root
# Explicitly provide the path to your SSH key (Machine-specific value)
ROBOT_SSH_KEY_PATH=C:\code\opentrons_home\ot2-lab-suite\keys\ot2_automation_key
ROBOT_REMOTE_RUN_DIR=/var/lib/opentrons/user_storage/ot2_runs

# Local project paths
LOCAL_DEPLOY_DIR=robot_data/deploy
LOCAL_LOG_DIR=robot_data/data/logs
LOCAL_OUTPUT_DIR=robot_data/data/outputs
